/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
/* Variables */
/* Mixins */
.debug {
  outline: 2px solid red;
}
.linktextstyle {
  text-decoration: none;
  color: #1b4a75;
  font-size: 1.8rem;
}
.bold {
  font-weight: bold;
}
.buttonstyle {
  padding: 2% 5%;
  border-radius: 1rem 4rem;
  background-color: #1b4a75;
  color: white;
  font-size: 1.6rem;
  margin: 2% 0;
  font-weight: bold;
}
.timestyle {
  flex-grow: 1;
}
.companystyle {
  flex-grow: 2;
}
.titlestyle {
  flex-grow: 4;
}
.techstyle {
  flex-grow: 2;
}
/* Page styles */
html,
body {
  height: 100%;
  max-width: 800px;
  padding: 1% auto;
  font-size: 62.5%;
  font-family: cubano, sans-serif;
  margin: 2%;
}
body {
  font-size: 1.6rem;
  width: 96%;
}
h1 {
  font-size: 4rem;
  padding: 2% 0;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
.subhead {
  font-size: 1.8rem;
}
body {
  color: #1b4a75;
  margin: 0;
}
@media (max-width: 800px) {
  body {
    width: 100%;
    margin: 1%;
  }
}
@media (max-width: 500px) {
  body {
    width: 100%;
  }
}
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4% 0;
}
nav a {
  text-decoration: none;
  color: #1b4a75;
  font-size: 1.8rem;
  padding-left: 3%;
}
.intro-img {
  width: 50%;
}
.intro {
  background: lightcoral;
  padding: 1% 2%;
}
.intro img {
  margin: 1% 0;
}
.intro .intro1 {
  border-bottom: 1px solid #1b4a75;
  padding: 1% 0;
}
.intro .intro2 {
  padding-top: 4%;
}
.intro .intro2 p {
  font-size: 1.4rem;
}
.intro .intro2 button {
  padding: 2% 5%;
  border-radius: 1rem 4rem;
  background-color: #1b4a75;
  color: white;
  font-size: 1.6rem;
  margin: 2% 0;
  font-weight: bold;
}
.middle-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  font-size: 1.6 rem;
}
.middle-content section {
  width: 49%;
}
.column-headers {
  font-weight: bold;
}
.yrs {
  font-weight: bold;
}
.experience {
  font-size: 1.6 rem;
}
.experience .table {
  display: flex;
  flex-direction: column;
  margin-top: 1.5%;
}
.experience .table section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #1b4a75;
  padding: 1%;
}
.experience .table .job1,
.experience .table .job3 {
  background: lightcoral;
}
.experience .table .yrs {
  flex-grow: 1;
}
.experience .table .company {
  flex-grow: 2;
}
.experience .table .title {
  flex-grow: 4;
}
.experience .table .tech {
  flex-grow: 2;
}
.experience .table .column-headers {
  font-weight: bold;
}
.experience .table .job {
  align-items: flex-start;
}
footer {
  display: flex;
  background: #1b4a75;
  color: white;
  font-size: 1.4rem;
  justify-content: center;
  margin-top: 1.5%;
  padding: 1.5% 0;
}
